@media (min-width: 1200px) {


    .navbar__logo-pic {
        margin-top: 0px;
    }

    .navbar__link {
        margin: 99px;
        margin-left: 324px;
    }

    .teaser__title {
        font-size: 100px;
        position: relative;
        text-align: center;
        top: 110px;
    }
    .navbar__link--last {
        margin-top: 0px;
        margin-right: 324px;
    }

    .navbar__li {
        margin-top: 6.25rem;
    }

    .header{
        background-image: url(./images/nav_bg_desktop.png);
        background-size: auto;
        height: 100vh;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .section__title {
        font-size: 50px;
    }

    .section__subtitle{
        width: 30%;
        margin-left: 35%;
        margin-right: 35%;
        font-size: 25px;
        line-height: 36.2px;
        left: 0%;
        transform: none;
    }

    main{
        position: relative;
        top: -500px;
    }

    .section__gallery {
        display: flex;
        overflow: hidden;
        justify-content: center;
        left: 0%;
        transform: none;
        overflow-x: auto; 
    }

    .gallery__section {
        display: flex;
        width: fit-content;
      }

    .gallery__section img {
        width: 450px;
        height: 550px;
    }

    .main__section--Philosophy {
        position: relative;
        margin-top: 6.25rem;
        top: 0rem;

    }

    .Philosophy__flex {
        gap: 84px;
        margin: 0px;
        display: grid;
        grid-template-columns: repeat(2, 1fr)
    }


    .button {
        top: 53.125rem;

    }
    
    .section__content {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .footer--main {
        background-image: url(./images/footerbg_desktop.jpg);
        height: 1180px;
        width: 100%;
        position: relative;
        top: -3.125rem;
    }

    .main_section {
        background-color: black;
        background-image: none;
    }

    .main-content {
        height: 1600px;
        position: relative;
        top:-3.125rem;
    }

    .footer__content--main {
        position: absolute;
        top: 65rem;
        left: 50%;
        transform: translateX(-50%);
        
    }



    .content__teaser {
        background-image: url(./images/section2_teaser_desktop.png);
        height: 500px;
        width: 888px;
        left: -120px;
        transform: none;

    }

 

    .section__subtitle--Phy {
        margin: 0px;
        width: 25%;
        margin-left: 0px;
        font-size: 25px;
        font-weight: 200;
    }

    .gallery {
        display: grid;
        grid-template-columns: 25% 25% 25%;
        grid-row-gap: 88px;
        grid-column-gap: 48px;
        margin-left: auto;
        margin-right: auto;
    }

    .gallery__image {
        height: 550px;
        width: 450px;
        transition: transform 1s;
        z-index: 1;
    }

    .gallery__image:hover {
        transform: scale(1.15);
        z-index: 1;
    }

    .teaser__subtitle {
        font-size: 30px;
        font-weight: 300;
        top: 100px;
    }


    .footer__content--position1 {
        top: -6.25rem;
    }

    .footer__content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;  
        gap: 22px;

      }
      
      .footer__line {
        width: 30px;
        height: 1px;
        background-color: white;
        border: none;
        margin: 8px 0;
        transform: rotate(90deg);
      }
      
      .footer__socials {
        display: flex;
        gap: 8px;
        position: relative;
        left: 0%;
        top: 0px;
        transform: none;
      }

     .section__Philosophy {
        margin-top: 50px;
     }

     .button:hover {
        border: 2px solid black;
        height: 2rem;
        width: 8rem;
        border-radius: 0.5rem;
     }

     .body-main {
        height: 225rem;
     }

    .section__about {
        display: flex;
        gap: 12.5rem;
        align-items: center;
        justify-content: center;
        margin-bottom: 3.125rem;
    }

    .about__photo1 {
        background-image: url(./images/about_photo1_desktop.png);
        width: 35.375rem;
        height: 25.4375rem;
        left: 0rem;
        transform: none;
    }

    .section__subtitle--about {
        padding: 0;
        margin: 0;
    }

    .about__photo2 {
        background-image: url(./images/about_photo2_desktop.png);
        width: 35.375rem;
        height: 25.4375rem;
        left: 0rem;
        transform: none;
        order: 2;
    }

    .section__subtitle--Tomas {
        order: 1;
    }

    .section__subtitle--Stepan {

    }

    .main__bigline {
        width: 89.8125rem;
        top: 28.125rem;
        margin-top: 3.125rem;
        margin-bottom: 3.125rem;
    }

    .main--about {
        margin-top: 0rem;
        position: relative;
        top: -20rem;
    }

    .body__background--about {
        position: relative;
        top: 0rem;
    }

    .teaser__title--About {
        position: relative;
        top: 8.125rem;
    }
     
    .section__about--Tomas{
        margin-top: 12.5rem;
    }

    .footer--gallery{
        position: relative;
        top: -21.25rem;
    }

}