@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&family=Zen+Old+Mincho:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300&family=Zen+Maru+Gothic&family=Zen+Old+Mincho:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300&display=swap');

body {
    margin: 0;
    background-color: black;
}

.nav__link {
    font-weight: 400;
    font-size: 20px;
    font-family: 'Zen Maru Gothic' sans-serif;
    text-decoration: none;
    color: white;
}

.nav__logo-pic {
    position: absolute;
    background-image: url(./images/nav_logo_mobile.svg);
    width: 25px;
    height: 24px;
    left: 50%;
    transform: translateX(-50%);

}

.header__text-h1 {
  position: relative;
  top: 50px;
    font-weight: 700;
    font-size: 60px;
    color: white;
    text-align: center;
    font-family: 'Zen Old Mincho', serif;
}

.header__text-p {
    font-weight: 300;
    color: white;
    text-align: center;
    font-size: 15px;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    position: relative;
}

.nav {
    background-image: url(./images/nav_background.png);
    height: 416px;
    width: 100%;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    margin: 0;
    padding: 0;
}

.nav__navbar {
    height: 33px;
    left: 5%;
    padding-top: 14px;
    padding-left: 1em;
    padding-right: 1em;
    display: flex;
}

.nav__link_last {
    position: absolute;
    right: 5%;
}

.main__section {
    position: absolute;
    height: 1320px;
    width: 100%;
    left: 0px;
    top: 416px;
    border-radius: 0px;
    background-image: url(./images/main_section_bg.png);
    margin: 0;
    padding: 0;
}

.main__section-h2 {
    font-family: 'Zen Kaku Gothic New', sans-serif;
    color: white;
    font-size: 30px;
    text-align: center;
    margin-bottom: 16px;
    font-weight: 500;
}

.main__section-p {
    color: white;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-family: Zen Kaku Gothic New;
    line-height: 22px;
    font-weight: 300;
}

.gallery-container {
  overflow-x: auto; 
}

.gallery-section {
  display: flex;
  width: fit-content;
}

.gallery-section img {
  width: 100%;
  height: auto; 
  object-fit: cover;
}

  .main__section-button {
    display: flex;
    text-decoration: none;
    width: 120px;
    height: 29px;
    top: 730px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .main__section-button-p {
    display: block;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Zen Maru Gothic' sans-serif;
    line-height: 30px;
  }

  .main__section-Philosophy {
    position: absolute;
    top: 780px;
  }

  .section-2-teaser {
    background-image: url(./images/section2_teaser.png);
    height: 215px;
    width: 319px;
    position: relative;
    left: 47%;
    transform: translateX(-50%);
    border-radius: 0px;
    margin-bottom: 39px;

  }

  .footer__bg {
    position: absolute;
    background-image: url(./images/footerbg.png);
    height: 26em;
    width: 100%;
    top: 1735px;
    margin: auto;
  }

  .footer__p {
    color: white;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-weight: 300;
    text-align: center;
    padding-top: 15px;
  }

  .footer__line {
    background-image: url(./images/footer_line.svg);
    height: 2px;
    width: 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 15px;
  }

  .footer__socials {
    display: flex;
    gap: 8px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 130px;
  }

  .footer__content {
    position: relative;
    top: 210px;
    z-index: 1;
  }


  .about_section_photo1 {
    background-image: url(./images/about_photo1.png);
    height: 290px;
    width: 320px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: -30px;

  }

.main__bigline {
  background-image: url(./images/about_big_line.svg);
  height: 2px;
  width: 319.0008548285137px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 972px;

}

  .main__section-photo2 {
    background-image: url(./images/about_photo2.png);
    height: 290px;
    width: 320px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: -30px;

  }

  .section__position1 {
    padding-top: 120px;
  }

.footer__content-position1 {
  top: 0px;
  margin-bottom: 100px;
}

  .header_text-h1--position {
    position: absolute;
    top: 130px;
    left: 50%;
    transform: translateX(-50%);
  }

  .gallery_img1 {
    background-image: url(./images/gallery/image1.png);
  }

  .gallery_img2 {
    background-image: url(./images/gallery/image2.png);
  }
  .gallery_img3 {
    background-image: url(./images/gallery/image3.png);
  }

  .gallery_img4 {
    background-image: url(./images/gallery/image4.png);
  }

  .gallery_img5 {
    background-image: url(./images/gallery/image5.png);
  }

  .gallery_img6 {
    background-image: url(./images/gallery/image6.png);
  }

  .gallery_img7 {
    background-image: url(./images/gallery/image7.png);
  }

  .gallery_img8 {
    background-image: url(./images/gallery/image8.png);
  }

  .gallery_img9 {
    background-image: url(./images/gallery/image9.png);
  }

  .gallery {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    width: 100%;
    height: 100%; 
    overflow: auto; 
  }
  
  .gallery_image {
    width: 320px;
    height: 290px;
    margin-bottom: 20px; 
    background-position: center center; 
    background-repeat: no-repeat;
    background-size: cover;
  }
  