@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&family=Zen+Old+Mincho:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300&family=Zen+Maru+Gothic&family=Zen+Old+Mincho:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300&display=swap');

body {
    margin: 0;
    background-color: black;
    height: 100%;
}

.navbar__link {
    font-weight: 400;
    font-size: 20px;
    font-family: 'Zen Maru Gothic' sans-serif;
    text-decoration: none;
    color: white;
}

.navbar__li {
  margin-top: 0px;
  list-style-type: none;
  list-style-image: none;
}

.navbar__logo-pic {
    position: absolute;
    background-image: url(./images/nav_logo_mobile.svg);
    width: 25px;
    height: 24px;
    left: 50%;
    transform: translateX(-50%);

}

.teaser__title {
  position: relative;
  top: 50px;
    font-weight: 700;
    font-size: 60px;
    color: white;
    text-align: center;
    font-family: 'Zen Old Mincho', serif;
}

.teaser__subtitle {
    font-weight: 300;
    color: white;
    text-align: center;
    font-size: 15px;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    position: relative;
    top: 25px;
}

.header {
    background-image: url(./images/nav_background.png);
     background-repeat: round;
    height: 416px;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 0;
    margin: 0;
    padding: 0;
}

.nav__navbar {
  margin-top: 0px;
    height: 33px;
    left: 5%;
    padding-top: 14px;
    padding-left: 1em;
    padding-right: 1em;
    display: flex;
}

.navbar__link--last {
    position: absolute;
    right: 5%;
}

.main-content {
    position: absolute;
    height: 1420px;
    width: 100%;
    left: 0px;
    top: 416px;
    border-radius: 0px;
    background-image: url(./images/main_section_bg.png);
    margin: 0;
    padding: 0;
}

.section__title {
    font-family: 'Zen Kaku Gothic New', sans-serif;
    color: white;
    font-size: 30px;
    text-align: center;
    margin-bottom: 16px;
    font-weight: 500;
}

.section__subtitle {
    color: white;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-family: Zen Kaku Gothic New;
    line-height: 22px;
    font-weight: 300;
}

.section__gallery{
  overflow-x: auto; 
}

.gallery__section {
  display: flex;
  width: fit-content;
}

.gallery__section img {
  width: 100%;
  height: auto; 
  object-fit: cover;
}

  .button {
    display: flex;
    text-decoration: none;
    width: 120px;
    height: 29px;
    top: 730px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .button__text {
    display: block;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Zen Maru Gothic' sans-serif;
    line-height: 30px;
  }

  .main__section--Philosophy {
    position: absolute;
    top: 780px;
  }

  .content__teaser {
    background-image: url(./images/section2_teaser.png);
    height: 215px;
    width: 319px;
    position: relative;
    left: 47%;
    transform: translateX(-50%);
    border-radius: 0px;
    margin-bottom: 39px;

  }

  .footer--main {
    position: absolute;
    background-image: url(./images/footerbg.png);
    height: 26em;
    width: 100%;
    top: 1735px;
    margin: auto;
    background-repeat: round;
  }

  .footer__p {
    color: white;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-weight: 300;
    text-align: center;
    padding-top: 0px;
  }

  .footer__line {
    border-top: 0px solid white;
    margin: 0 auto;
    width: 30px; 
  }

  .footer__socials {
    display: flex;
    gap: 8px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 130px;
  }

  .footer__content {
    position: relative;
    top: 210px;
    z-index: 1;
  }


  .about__photo1 {
    background-image: url(./images/about_photo1.png);
    height: 290px;
    width: 320px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: -30px;

  }

.main__bigline {
  background-image: url(./images/about_big_line.svg);
  height: 2px;
  width: 319.0008548285137px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 972px;

}

  .about__photo2 {
    background-image: url(./images/about_photo2.png);
    height: 290px;
    width: 320px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: -30px;

  }

  .section__about--position {
    padding-top: 120px;
  }

.footer__content-position1 {
  top: 0px;
  margin-bottom: 100px;
}

  .teaser__h1--position {
    position: absolute;
    top: 130px;
    left: 50%;
    transform: translateX(-50%);
  }

  .gallery__image--img1 {
    background-image: url(./images/gallery/image1.png);
  }

  .gallery__image--img2 {
    background-image: url(./images/gallery/image2.png);
  }
  .gallery__image--img3 {
    background-image: url(./images/gallery/image3.png);
  }

  .gallery__image--img4 {
    background-image: url(./images/gallery/image4.png);
  }

  .gallery__image--img5 {
    background-image: url(./images/gallery/image5.png);
  }

  .gallery__image--img6 {
    background-image: url(./images/gallery/image6.png);
  }

  .gallery__image--img7 {
    background-image: url(./images/gallery/image7.png);
  }

  .gallery__image--img8 {
    background-image: url(./images/gallery/image8.png);
  }

  .gallery__image--img9 {
    background-image: url(./images/gallery/image9.png);
  }

  .gallery {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    width: 100%;
    height: 100%; 
    overflow: auto; 
  }
  
  .gallery__image {
    width: 320px;
    height: 290px;
    margin-bottom: 20px; 
    background-position: center center; 
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .body__background {
    background-image: url(./images/main_section_bg.png);
    background-repeat: round;
    width: 100%;
    left: 0px;
    top: 416px;
  }

  .body__background--about {
    height: 1320px;
  }

  .footer__content--position1 {
    top: 0px;
  }

  .body__background--gallery {
    height: 3000px;
  }